@model ProyectoColegio.Models.Login
@*@using ProyectoColegio.Data*@

@{
    //VariablesGlobales variablesGlobales = new VariablesGlobales();
    ViewData["Title"] = "Index";
    
    string disabledAttribute = "disabled";
    //string onclickAttribute = "onclick=\"window.location.href='/Funcionario/cargarCsv'\"";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
    <section class="form-body">
        <img src="" alt="" />
        <p class="text">Nombre Del Colegio</p>
        <p class="text">Florencia - Caquetá</p>
        <form asp-action="Inicio" class="login-form">

            <input asp-for="UserName" placeholder="Usuario" oninput="checkInputs()">
            <span asp-validation-for="UserName" class="error__dander"></span>
            <input asp-for="Password" type="password" placeholder="Contraseña" oninput="checkInputs()">
            <span asp-validation-for="Password" class="error__dander"></span>
            <button id="botonIniciarSesion" type="submit">Iniciar Sesión</button>
        </form>

    </section>
    <script>
        function checkInputs() {
            var userName = document.querySelector('input[name="UserName"]').value;
            var password = document.querySelector('input[name="Password"]').value;
            var mensajeUsuario = document.getElementById('mensajeUsuario');
            var botonIniciarSesion = document.getElementById('botonIniciarSesion');


            if (userName.trim() !== '' && password.trim() !== '') {
                mensajeUsuario.style.display = 'block';
                botonIniciarSesion.removeAttribute('disabled'); // Habilitar el botón
            } else {
                mensajeUsuario.style.display = 'none';
                botonIniciarSesion.setAttribute('disabled', 'disabled'); // Deshabilitar el botón
            }
        }
    </script>
</body>
</html>