
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observador</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td {
            border: 1px solid black;
            text-align: center;
            background-color: #ffffff;
            /*width: 200px;  Ancho estándar para las celdas th */
        }

        .center {
            text-align: center;
        }

        .fill td {
            padding: 12% 0;
        }

        h4, h5, h6 {
            /* margin: 3px 0; */
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 10px; /* Tamaño de fuente base */
        }

        h3, p {
            /* margin: 3px 0; */
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 14px; /* Tamaño de fuente base */
        }
    </style>
</head>
<body style="padding-top: 30px;">
    <table style="margin-top: 20px;">
        <thead>
            <tr>
                <th hidden></th>
                <th hidden></th>
                <th hidden></th>
                <th hidden></th>
                <th hidden></th>
                <th hidden></th>
                <th hidden></th>
                <th hidden></th>
                <th hidden></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="9" class="center">
                    <h3>REPORTE DE SITUACIONES DISCIPLINARIAS TIPO 2 </h3>
                </td>
            </tr>
            <tr>
                <td colspan="9" class="center">
                    <p>
                        Corresponden  a  este  tipo  las  situaciones  de  agresión  escolar,  acoso  escolar  (bullying)  y  ciberacoso  (Ciberbullying),  que  no  revistan  las características de la comisión de un delito.
                    </p>
                </td>
            </tr>
            <tr class="center">
                <td style="width: 5%;" rowspan="2"><h4>FECHA</h4></td>
                <td style="width: 5%;" rowspan="2"><h4>Nº FALTA</h4></td>
                <td style="width: 20%;" rowspan="2"><h4>DESCARGOS DEL ESTUDIANTE</h4></td>
                <td style="width: 20%;" rowspan="2"><h4>COMPROMISO DEL ESTUDIANTE</h4></td>
                <td style="width: 50%;" colspan="5"><h4>FIRMA</h4></td>
            </tr>
            <tr class="center">
                <td style="width: 10%;"><h4>EST. INFRACTOR</h4></td>
                <td style="width: 10%;"><h4>EST. AFECTADO</h4></td>
                <td style="width: 10%;"><h4>P. DE FLIA.</h4></td>
                <td style="width: 10%;"><h4>DOCENTE</h4></td>
                <td style="width: 10%;"><h4>RECTORA</h4></td>
            </tr>
            <tr class="center fill">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="center fill">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="center fill">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="center fill">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="center fill">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
