
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observador</title>
</head>
<body>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .table__cabezera {
            width: 100%;
            border-collapse: collapse;
            border: none;
        }

            .table__cabezera th {
                border: none;
            }

        .table__cabezera {
            width: 100%;
            margin: 0;
            padding: 0;
            font-size: .8rem;
            border: none;
        }

            .table__cabezera p, h1, h2, h3 {
                margin: 0;
            }

            .table__cabezera p {
                font-weight: 500;
            }


        .infoInstitucion {
            margin: 10px 0;
            font-size: .8rem;
            text-align: center;
        }

        .img {
            height: 70px;
            width: 70px;
            margin: auto;
        }

        figure {
            margin: 1px 30px;
        }

        .table__infogrado {
            width: 100%;
            text-align: center;
            border-collapse: collapse;
            font-size: 12px;
        }

            .table__infogrado td, th {
                border: 1px solid #b2b2b2;
            }

        p, h4 {
            margin: 5px;
            font-size: 18px;
        }
        
        th, td {
            margin: 5px;
            font-size: 18px;
        }

        .contenedor {
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .center {
            text-align: center;
        }

    </style>
    <section class="section">

        <table class="table__cabezera">
            <thead>
            <th style="width: 20%;">  <img width="20px" height="20px" src="../img/gallery_9055136.png" alt=""></th>
            <th style="width: 60%;">
                <section class="encabezado-central">
                    <p style="height: 40px;"></p>
                    <h4>NOMBRE INSTITUCION</h4>
                    <h4>TECNICO EN AGROECOLOGIA</h4>
                    <p>DANE: 283592003378</p>
                    <p>Creada según decreto 002027 del 15/12/2011</p>
                    <p>Res. de Aprob. 00352 del 24/04/2012</p>
                    <p>NIT: 900.218.599-1</p>
                    <p style="height: 20px;"></p>
                    <h4>INFORME ACADEMICO AÑO ESCOLAR 2019</h4>
                </section>
            </th>
            <th style="width: 20%;">  <img width="20px" height="20px" src="../img/gallery_9055136.png" alt=""></th>
            </thead>
        </table>
        <style>
            .contenedor--foto {
                display: flex;
                flex-direction: row;
                justify-content: end;
                margin: 0;
            }

                .contenedor--foto figure {
                    width: 100px;
                    height: 100px;
                    outline: 1px solid black;
                    margin: 0;
                }

                    .contenedor--foto figure img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        margin: 0;
                    }
        </style>
        <section class="contenedor--foto">
            <figure>
            </figure>

        </section>
        <style>
            .table__datos__observador {
                width: 100%;
                margin: 0px;
                border-collapse: collapse;
                border: 1px solid black;
            }

                .table__datos__observador td, th {
                    border: 1px solid black;
                    margin: 3px;
                    font-size: 18px;
                }
        </style>
        <section style="margin: 0;">
            <table class="table__datos__observador">
                <thead>
                    <tr>
                        <th colspan="11">DATOS DEL ESTUDIANTE 1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NOMBRE COMPLETO</td>
                        <td colspan="9">DANFRY LISETH GARRETA GARCÍA</td>
                    </tr>
                    <tr>
                        <td>FECHA DE NACIMIENTO:</td>
                        <td colspan="2"></td>
                        <td colspan="3">NÚMERO DE DOCUMENTO:</td>
                        <td colspan="4">Nº identificacion</td>
                        
                    </tr>
                    <tr>
                        <td>
                            TIPO DE
                            DISCAPACIDAD:
                        </td>
                        <td colspan="10">Fila 3, Columna 2</td>
                    </tr>
                    <tr>
                        <td>ENTIDAD DE SALUD QUE LO ATIENDE:</td>
                        <td colspan="10">Fila 4, Columna 2</td>
                    </tr>
                    <tr>
                        <td rowspan="2">ESTUDIANTE RESIDENTE</td>
                        <td colspan="1">SI</td>
                        <td colspan="1">NO</td>
                        <td colspan="1" rowspan="2">DIRECCIÓN:</td>
                        <td colspan="6" rowspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="1" style="padding: 10px 20px;"></td>
                        <td colspan="1" style="padding: 10px 20px;"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="2">NÚMERO DE TELÉFONO:</td>
                        <td rowspan="2" colspan="2">Fila 7, Columna 2</td>
                        <td rowspan="2" colspan="3">VICTIMA DEL CONFLICO O DESPLAZADO:</td>
                        <td>SI</td>
                        <td>NO</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px;"></td>
                        <td style="padding: 10px;"></td>
                    </tr>
                    <tr style="text-align: center;">
                        <td colspan="11">OBSERVACIONES DE SALUD U OTRO TIPO:</td>
                    </tr>
                    <tr>
                        <td colspan="11" style="padding: 30px;"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <style>
            .datosPadres {
                width: 100%;
                margin: 0;
                border-collapse: collapse;
                border: 1px solid black;
            }

            .color {
                background-color: #b2b2b2;
            }

            .datosPadres td {
                border: 1px solid black;
                padding: 3px 0;
            }
        </style>
        <section>
            <table class="datosPadres">
                <thead>
                    <tr>
                        <th class="color" colspan="10">DATOS DEL PADRE</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NOMBRE COMPLETO</td>
                        <td colspan="5" style="padding: 0 90px;"></td>

                        <td>
                            NÚMERO DE
                            DOCUMENTO:
                        </td>
                        <td colspan="3" style="padding: 0 90px;"></td>


                    </tr>
                    <tr>
                        <td>OCUPACIÓN:</td>
                        <td colspan="5" style="padding: 0 90px;"></td>

                        <td>
                            NÚMERO DE
                            CELULAR
                        </td>
                        <td colspan="3" style="padding: 0 90px;"></td>

                    </tr>
                    <tr>
                        <td colspan="10">DIRECCIÓN:</td>

                    </tr>
                </tbody>
            </table>
            <table class="datosPadres">
                <thead>
                    <tr>
                        <th class="color" colspan="10">DATOS DE LA MADRE</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NOMBRE COMPLETO</td>
                        <td colspan="5" style="padding: 0 90px;"></td>

                        <td>
                            NÚMERO DE
                            DOCUMENTO:
                        </td>
                        <td colspan="3" style="padding: 0 90px;"></td>


                    </tr>
                    <tr>
                        <td>OCUPACIÓN:</td>
                        <td colspan="5" style="padding: 0 90px;"></td>

                        <td>
                            NÚMERO DE
                            CELULAR
                        </td>
                        <td colspan="3" style="padding: 0 90px;"></td>

                    </tr>
                    <tr>
                        <td colspan="10">DIRECCIÓN:</td>

                    </tr>
                </tbody>
            </table>
            <table class="datosPadres">
                <thead>
                    <tr>
                        <th class="color" colspan="10">DATOS DEL ACUDIENTE</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NOMBRE COMPLETO DEL ACUDIANTE</td>
                        <td colspan="5" style="padding: 0 90px;"></td>

                        <td>
                            NÚMERO DE
                            DOCUMENTO:
                        </td>
                        <td colspan="3" style="padding: 0 90px;"></td>


                    </tr>
                    <tr>
                        <td colspan="1">
                            TIPO DE VÍNCULO CON
                            EL ESTUDIANTE:
                        </td>
                        <td colspan="9"></td>

                    </tr>
                    <tr>
                        <td>OCUPACIÓN:</td>
                        <td colspan="5" style="padding: 0 90px;"></td>

                        <td>
                            NÚMERO DE
                            CELULAR
                        </td>
                        <td colspan="3" style="padding: 0 90px;"></td>

                    </tr>
                    <tr>
                        <td colspan="1">DIRECCIÓN:</td>
                        <td colspan="9"></td>

                    </tr>
                </tbody>
            </table>            
        </section>
        
        <style>
            .footer {
                text-align: center;
                margin-top: 15px;
                padding: 10px 0;
                /*border-top: 1px solid black;*/
            }

                .footer p {
                    font-size: 12px;
                }
        </style>
        <section class="footer">
            <h4>OBSERVADOR DEL ESTUDIANTE AÑO 2024</h4>
            @*<p>"FORMAMOS PARA LA VIDA, FUNDAMENTADOS EN EL DESARROLLO DE LOS VALORES HUMANOS"</p>
            <p>EMAIL: celaaguililla_pue@hotmail.com.</p>*@
            <p style="color: #44780D; font-size: 40px;">______________________</p>
            <h4>“Formamos para la vida, fundamentados en el desarrollo de los valores humanos”</h4>
            <p>Corregimiento La Aguililla – Municipio de Puerto Rico Caquetá Email:</p>
            <p>
                celaaguililla_pue@hotmail.com
                Celular 3132814145
            </p>

        </section>
    </section>
</body>
</html>


