
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observador</title>
    <style>
        /* body{
                    width: 100%;
                    height: 90%;
                } */

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td {
            border: 1px solid black;
            text-align: center;
            /*background-color: #f2f2f2;*/
            width: 200px; /* Ancho estándar para las celdas th */
        }

        .fill td {
            padding: 12% 0;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body style="padding-top: 30px;">
    <table style="margin-top: 20px;">
        <thead>
            <tr>
                <th hidden></th>
                <th hidden></th>
                <th hidden></th>
                <th hidden></th>
                <th hidden></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5" class="center">
                    <h3>REPORTE DE SITUACIONES DISCIPLINARIAS TIPO 1</h3>
                </td>
            </tr>
            <tr>
                <td colspan="5" class="center">
                    <p>
                        Corresponden a este tipo los conflictos manejados inadecuadamente y aquellas situaciones esporádicas que inciden negativamente en el
                        clima escolar, y que en ningún caso generan daños al cuerpo o a la salud.
                    </p>
                </td>
            </tr>
            <tr class="center">
                <td style="width: 10%;"><h4>FECHA</h4></td>
                <td style="width: 10%;"><h4>Nº FALTA</h4></td>
                <td style="width: 40%;"><h4>COMPROMISO DEL ESTUDIANTE</h4></td>
                <td style="width: 20%;"><h4>FIRMA DEL ESTUDIANTE</h4></td>
                <td style="width: 20%;"><h4>FIRMA DEL DOCENTE</h4></td>
            </tr>
            <tr class="center fill">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="center fill">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="center fill">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="center fill">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
