
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tecnico en Agroecologia - NombreInstitucion</title>
    <style>
        .parte-central-boletin th,
        .parte-central-boletin td {
            border: 1px solid gray;
        }

        .parte-central-boletin h6 {
            font-size: 12px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            height: 80%;
        }

        th, td {
            text-align: center;
        }

        h4, h5, h6, p {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 14px;
        }

        h4 {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 14px;
        }

        .contenedor {
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body style="border: 1px solid black; margin-bottom: 20px;">
    <div class="">
        <table class="table__cabezera; contenedor; center;">
            <thead>
            <th style="width: 20%;">  <img width="20px" height="20px" src="../img/gallery_9055136.png" alt=""></th>
            <th style="width: 60%;">
                <section class="encabezado-central">
                    <p style="height: 40px;">-</p>
                    <h3>Institución Educativa Rural La Aguililla</h3>
                    <h4>TECNICO EN AGROECOLOGIA</h4>
                    <p>DANE: 283592003378</p>
                    <p>Creada según decreto 002027 del 15/12/2011</p>
                    <p>Res. de Aprob. 00352 del 24/04/2012</p>
                    <p>NIT: 900.218.599-1</p>
                    <p style="height: 20px;"></p>
                </section>
            </th>
            <th style="width: 20%;">  <img width="20px" height="20px" src="../img/gallery_9055136.png" alt=""></th>
            </thead>
        </table>
        <table class="info__periodo; contenedor; center;">
            <thead>
                <tr>
                    <th hidden>col1</th>
                    <th hidden>col2</th>
                    <th hidden>col3</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><h5>SEDE</h5></td>
                    <td><h5>GRADO</hh53></td>
                    <td><h5>PERIODO</h5></td>
                </tr>
                <tr>
                    <td rowspan="2"><p>LOS ANDES</p></td>
                    <td rowspan="2"><p>Nº GRADO</p></td>
                    <td rowspan="2"><p>Nº PERIODO</p></td>
                </tr>
            </tbody>
            <tr>
                <td colspan="3"><h5>APELLIDOS Y NOMBRES ESTUDIANTE</h5></td>
            </tr>
            <tr>
                <td colspan="3"><p>Nombre</p></td>
            </tr><tr>
                <td colspan="3"><p style="height: 20px;"></p></td>
            </tr>
        </table>

    </div>
    <div class="parte-central-boletin">
        <table class="tables__notas; contenedor; center;">
            <tbody>
                <tr>
                    <td style="width: 30%;" colspan="2"><h4>AREAS Y/O ASIGNATURAS</h4></td>
                    <td style="width: 10%;"><h4>I.H</h4></td> <!--Intencidad horaria-->
                    <td style="width: 10%;"><h4>INASIST</h4></td>
                    <td style="width: 20%;"><h4>DESCRIPCION</h4></td>
                    <td style="width: 5%;"><h4>P1</h4></td>
                    <td style="width: 5%;"><h4>P2</h4></td>
                    <td style="width: 5%;"><h4>P3</h4></td>
                    <td style="width: 5%;"><h4>P4</h4></td>
                    <td style="width: 10%;"><h4>NOTAFINAL</h4></td>
                </tr>
                <tr>
                    <!--COMIENZA LA FILA 1-->
                    <td colspan="2" rowspan="2"><h6>CIENCIAS NATURALES</h6></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>  <!--TERMINA LA FILA 1-->
                <tr>
                    <!--COMIENZA LA FILA 2-->
                    <th colspan="2" rowspan="2"><h6>ECOLOGIA</h6></th>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>  <!--TERMINA LA FILA 2-->
                <tr>
                    <!--COMIENZA LA FILA 3-->
                    <th rowspan="4"><h6>CIENCIAS SOCIALES</h6></th>
                    <th rowspan="2"><h6>SOCIALES</h6></th>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <th rowspan="2"><h6>CATEDRA DE LA PAZ</h6></th>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr> <!--TERMINA LA FILA 3-->
                <tr>
                    <!--COMIENZA LA FILA 4-->
                    <th colspan="2" rowspan="2"><h6>EDUCACIÓN ARTÍSTICA</h6></th>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>  <!--TERMINA LA FILA 4-->
                <tr>
                    <!--COMIENZA LA FILA 5-->
                    <th colspan="2" rowspan="2"><h6>ETICA Y VALORES</h6></th>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>  <!--TERMINA LA FILA 5-->
                <tr>
                    <!--COMIENZA LA FILA 6-->
                    <th colspan="2" rowspan="2"><h6>EDUCACION FÍSICA RECREACION Y DEPORTE</h6></th>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>  <!--TERMINA LA FILA 6-->
                <tr>
                    <!--COMIENZA LA FILA 7-->
                    <th colspan="2" rowspan="2"><h6>EDUCACION RELIGIOSA</h6></th>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>  <!--TERMINA LA FILA 7-->
                <tr>
                    <!--COMIENZA LA FILA 8-->
                    <th rowspan="4"><h6>HUMANIDADES E IDIOMA EXTRANJERO</h6></th>
                    <th rowspan="2"><h6>ESPAÑOL</h6></th>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <th rowspan="2"><h6>INGLES</h6></th>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr> <!--TERMINA LA FILA 8-->
                <tr>
                    <!--COMIENZA LA FILA 9-->
                    <th colspan="2" rowspan="2"><h6>MATEMATICAS</h6></th>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>  <!--TERMINA LA FILA 9-->
                <tr>
                    <!--COMIENZA LA FILA 10-->
                    <th colspan="2" rowspan="2"><h6>TECNOLOGIA E INFORMATICA</h6></th>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>  <!--TERMINA LA FILA 10-->
                <tr>
                    <!--COMIENZA LA FILA 11-->
                    <th colspan="2" rowspan="2"><h6>P. PEDAGOGICO AGROECOLOGICO</h6></th>
                    <td rowspan="2"><p>Valor</p></td>
                    <td rowspan="2"><p>Valor</p></td>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>  <!--TERMINA LA FILA 11-->
                <tr>
                    <!--COMIENZA LA FILA 12-->
                    <th colspan="4" rowspan="2"><h6>CONVIVENCIA</h6></th>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>  <!--TERMINA LA FILA 12-->
                <tr>
                    <!--COMIENZA LA FILA 13-->
                    <th colspan="4" rowspan="2"><h6>PROMEDIO Y VALORACION FINAL DE TODAS LAS AREAS</h6></th>
                    <td><P>VALORACION</P></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr>
                    <td><p>DESEMPEÑO</p></td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>  <!--TERMINA LA FILA 10-->
            </tbody>
        </table>
    </div>
    <div class="">
        <style>
            .table__firmas {
                border-collapse: collapse;
                width: 100%;
                text-align: center;
                border: 1px solid black;
                border-top: none;
            }

                .table__firmas td {
                    border: none;
                }
        </style>
        <table class="table__firmas; contenedor; center;">
            <tbody>
                <tr>
                    <td colspan="3">
                        <p style="height: 20px;"></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">                        
                        <h4 style="text-align: left;">OBSERVACIONES:</h4>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" height="140px"></td>
                </tr>
                <tr>
                    <td>
                        <p>______________________________</p>
                        <p>RECTOR(A)</p>
                    </td>
                    <td>
                        <p>______________________________</p>
                        <p>TUTULAR</p>
                    </td>
                    <td>
                        <p>______________________________</p>
                        <p>SECRETARIO</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><p style="height: 40px;"></p> </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
