
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paz y Salvo 3</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contenedor {
            /* width: 80%; */
            margin-bottom: 20px;
            margin-top: 20px;
            /* border: 1px solid black; */
            display: flex;
            justify-content: center;
            align-items: center;
        }


        table {
            border-collapse: collapse;
            width: 100%;
            text-align: center;
        }

        th {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
            background-color: #f2f2f2;
            width: 200px; /* Ancho estándar para las celdas th */
        }

        /* Aplica estilos a los elementos de encabezado */
        h4, h5, h6 {
            margin: 10px 0; /* Reduce las márgenes superior e inferior */
            font-size: 16px;
        }

        /* Aplica estilos a los elementos de párrafo */
        p {
            margin: 8px 0; /* Reduce las márgenes superior e inferior */
            font-size: 18px;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <table style="border: 1px solid black; height: 90%;">
        <tr>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th hidden>col1</th>
                            <th hidden>col2</th>
                            <th hidden>col3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="height: 25%;" class="contenedor">
                            <td class="center" style="width: 25%;">
                                <img width="20px" height="20px" style="margin-left: 50px;" src="../img/gallery_9055136.png" alt="">
                            </td>
                            <td class="center" style="width: 50%;">
                                <p style="height: 60px;"></p>
                                <h4>DEPARTAMENTO DEL CAQUETA</h4>
                                <h5>MUNICIPIO DE PUERTO RICO</h5>
                                <h5>INSTITUCION EDUCATIVA RURAL LA AGUILILLA</h5>
                                <h5>CON ESPECIALIDAD EN AGROECOLOGIA</h5>
                                <h5>DANE 283592003378     ||     NIT 900218599-1</h5>
                                <br style="height: 30px;">
                                <p>Creada según Decreto 002027 del 15 de diciembre de 2011. Resolución de aprobación 00352 del 24 de Abril de 2012</p>
                                <p>Resolución No. 001825 del 31 de octubre de 20107 de autorización de Jornada Única</p>
                            </td>
                            <td class="center" style="width: 25%;">
                                <img width="20px" height="20px" style="margin-right: 50px;" src="../img/gallery_9055136.png" alt="">
                            </td>
                        </tr>
                        <tr style="height: 25%;" class="contenedor">
                            <td colspan="3" class="center">
                                <p style="height: 80px;"></p>
                                <h5>PAZ Y SALVO ESTUDIANTIL</h5>
                                <p style="height: 20px;"></p>
                                <h5>LA SUSCRITA RECTORA DE LA INSTITUCION EDUCATIVA RURAL LA AGUILILLA</h5>
                                <p style="height: 10px;"></p>
                                <h5>HACE COSNTAR</h5>
                                <p style="height: 20px;"></p>
                                <p>
                                    El (a) estudiante _________________________, identificado con R.C _____, TI _____, C.C. No
                                </p>
                                <p>
                                    ________________, del grado __________, se encentra a PAZ Y SALVO por todo concepto
                                </p>
                                <p>
                                    con la Institución sede _______________________
                                </p>
                                <br>
                                <p>
                                    Para constancia se firma a los 18 días del mes de enero de 2024.
                                </p>
                            </td>
                        </tr>
                        <tr style="height: 10%;" class="contenedor">
                            <td colspan="3" class="center">
                                <p>La presente  se  expide  a petición  del interesado  para trámites en otra  Institución Educativa.</p>
                                <p>Dada en el Corregimiento la Aguililla, a los 01 de marzo de 2023.</p>
                                <p>Para constancia firma,</p>
                            </td>
                        </tr>
                        <tr style="height: 25%;" class="contenedor">
                            <td colspan="3" class="center">
                                <p style="height: 70px; width: 120;"></p>
                                <p>____________________________</p>
                                <p>Mag. ARALY NUÑEZ SANJUAN</p>
                                <p>RECTORA</p>
                                <p>DOCUMENTO VALIDO HASTA 01/12/2023</p>
                            </td>
                        </tr>
                        <tr colspan="3">
                            <td>
                                <p style="height: 60px;"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <table style="height: 10%;">
        <tr class="contenedor" class="center">
            <td colspan="3">
                <!-- <p style="height: 10px;"></p> -->
                <p style="color: #44780D;">____________________________________________________________________________</p>
                <h4>“Formamos para la vida, fundamentados en el desarrollo de los valores humanos”</h4>
                <p>Corregimiento La Aguililla – Municipio de Puerto Rico Caquetá Email:</p>
                <p>
                    celaaguililla_pue@hotmail.com
                    Celular 3132814145
                </p>
            </td>
        </tr>
    </table>
</body>
</html>
