
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado de Estudio 2024</title>
    
    <style>
        .parte-central-boletin th, 
        .parte-central-boletin td {
            border: 1px solid gray;
        }
         
        .parte-central-boletin h6 {
            font-size: 12px;
            margin-top: 5px;
            padding-top: 5px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            height: 80%;
        }

        th, td {
            text-align: center;
        }

        h4, h5, h6, p {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 16px;
        }

        h4 {
            margin-top: 3px;
            padding-top: 3px;
            box-sizing: border-box;
            font-size: 16px; 
        }

        p {
            margin-top: 3px;
            padding-top: 3px;
            box-sizing: border-box;
            font-size: 16px;
        }

        .contenedor {            
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <table class="table__cabezera; contenedor; center;">
        <thead>
            <th style="width: 20%;">  <img width="20px" height="20px" src="../img/gallery_9055136.png" alt=""></th>
            <th style="width: 60%;"><section class="encabezado-central">
                <h4>DEPARTAMENTO DEL CAQUETA</h4>
                <h4>MUNICIPIO DE PUERTO RICO</h4>
                <h4>Institución Educativa Rural La Aguililla</h4>
                <h5>TECNICO EN AGROECOLOGIA</h5>
                <p>DANE: 283592003378</p>
                <p>Creada según decreto 002027 del 15/12/2011</p>
                <p> Resolución de aprobación 00352 del 24 de Abril de 2012</p> 
                <p style="height: 40px;"></p>              
            </section></th>
            <th style="width: 20%;">  <img width="20px" height="20px" src="../img/gallery_9055136.png" alt=""></th>
        </thead>
    </table>
    <div class="contenido-cuerpo-superior">
        <table>
            <tbody>
                <tr>
                    <td colspan="3">
                        <p>Los suscritos Rectora y Secretario de la Institución Educativa Rural la Aguililla del Municipio de Puerto Rico,  identificado
                            con Codigo DANE 283592003378, Creada segun Decreto No. 002027 de fecha 15 de diciembre de 2011 y Resolucion No 002027 del 24 
                            de Abril de 2012 emanados de la Secretaria de Educacion Departamental, en los niveles de Preescolar, 
                            Educacion Básica en los ciclos Primaria y Secundaria y Educacion Media Tecnica
                        </p>
                    </td>               
                </tr>
                <tr>
                    <td colspan="3">
                        <p style="height: 20px;"></p>
                        <h4 style="margin: 10px; margin-top: 10px;">CERTIFICAN</h4>
                        <p>
                            Que el alumno(a) _______________________________ identificado (a) con ________________________ cursó y aprobó
                            en esta Institución sede, ________________________ los estudios correspondientes al grado ______  de Educacion
                            ______________ durante el año escolar ____________ de conformidad con la ley 115 de 1994, el Decreto 1860 de 1994, 
                            la resolución 2343 de 1996, la ley 715 de 2001, el Decreto 230 de 2002, el Decreto 1290  del 2009 y el plan de estudios,
                            habiendo obtenido las siguientes valoraciones y desempeños según consta en el libro de registro escolar.
                        </p>
                        <p style="height: 40px;"></p>
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>    
    <div class="parte-central-boletin">
        <table>
            <thead>
                <tr>
                    <th rowspan="2">AREAS</th>
                    <th rowspan="2">I.H</th>
                    <th rowspan="2">FALLAS</th>
                    <th colspan="4">PERIODOS</th>
                    <th rowspan="2">PROMEDIO FINAL</th>
                    <th rowspan="2">NIVEL DE DESEMPEÑO</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
            </thead>
            <tbody>
                <!-- se implementa el ciclo para obtener datos por cada estudiante -->
                <tr class="fila-1">
                    <td>DIMENSION CORPOARAL</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-2">
                    <td>DIMENSION COMUNICATIVA</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-3">
                    <td>DIMENSION ESTETICA</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-4">
                    <td>DIMENSION ESPIRITUAL</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-5">
                    <td>DIMENSION COGNITIVA</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-6">
                    <td>ETICA Y VALORES</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-7">
                    <td>DIMENSION SOCIO AFECTIVA</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>                
                <tr class="fila-8">
                    <td colspan="3">CONVIVENCIA</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-9">
                    <td colspan="3">PROMEDIOS FINALES</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
            </tbody>
        </table>       
    </div>
    <br>     
    <div class="contenido-cuerpo-inferior">
        <table>
            <thead>
                <tr>
                    <th hidden></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="convenviones; parte-central-boletin">
                            <thead>
                                <tr>
                                    <th hidden colspan="3" rowspan="2"></th>
                                    <th hidden colspan="3"></th>
                                    <th hidden colspan="3"></th>
                                </tr>
                            </thead>                
                            <tbody>
                                <tr class="resaltadas">
                                    <td class="resaltadas" rowspan="2">CONVENCIONES</td>
                                    <td class="resaltadas">1,0 - 2,9 DESEMPEÑO BAJO</td>
                                    <td class="resaltadas">3,0 - 3,9 DESEMPEÑO BASICO</td>
                                </tr>
                                <tr class="resaltadas">                
                                    <td class="resaltadas">4,0 - 4,5 DESEMPEÑO ALTO</td>
                                    <td class="resaltadas">4,6 - 5,0 DESEMPEÑO SUPERIOR</td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <h4>Para constancia se firma en Puerto Rico, Caqueta a los 18 dias del mes de Enero del año 2024,</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>        
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <thead>
                                <tr> <!-- posee 4 culumnas -->
                                    <th hidden></th> <!-- En la primera columna van los datos de la rectora mas la firma -->
                                    <th hidden></th> <!-- En la segunda columna va un espacio entre firmas -->
                                    <th hidden></th> <!-- En la tercera columna va un espacio entre firmas -->
                                    <th hidden></th> <!-- En la cuarta columna van los datos del secretario mas la firma -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                      
                                        <table >
                                            <tr>
                                                <p style="height: 120px; width: 120px;"></p>
                                            </tr>
                                            <tr class="firmas">
                                                <p>____________________________</p>
                                                <p style="margin: 0; padding: 0;">Mag. ARALY NUÑEZ SANJUAN</p>
                                                <p style="margin: 0; padding: 0;">RECTORA</p>
                                                <p style="margin: 0; padding: 0;">CC. No.  40.783.163 de Florencia</p>
                                            </tr>
                                        </table>
                                    </td>
                                    <td hidden></td> <!-- necesarios para separar por columna -->                     
                                    <td hidden></td> <!-- necesarios para separar por columna --> 
                                    <td>
                                        <table >
                                            <tr>
                                                <p style="height: 120px; width: 120px;"></p>
                                            </tr>
                                            <tr class="firmas" >
                                                <p>____________________________</p>
                                                <p style="margin: 0; padding: 0;">LUIS ENRIQUE ALEY BETANCUR</p>
                                                <p style="margin: 0; padding: 0;">Secretario</p>
                                                <p style="margin: 0; padding: 0;">C.C No 1.115.947.940 de Puerto Rico</p>
                                            </tr>
                                        </table>
                                    </td>                                        
                                </tr>
                            </tbody>            
                        </table>      
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="height: 10%; margin: 0;">
            <tr>
                <td colspan="3" height="20px"></td>
            </tr>
            <tr class="contenedor" class="center">
                <td colspan="3">
                    <p style="color: #44780D; font-size: 20px;">______________________________________________________</p>
                    <h4>“Formamos para la vida, fundamentados en el desarrollo de los valores humanos”</h4>
                    <p>Corregimiento La Aguililla – Municipio de Puerto Rico Caquetá Email:</p>
                    <p>celaaguililla_pue@hotmail.com
                        Celular 3132814145
                    </p>
                </td>                                                       
            </tr>
        </table>       
    </div>
</body>
</html>