
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado de Estudio 2024</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contenido-cuerpo-superior,
        .contenido-cuerpo-central,
        .contenido-cuerpo-inferior {
            width: 95%;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }

        .contenido-cuerpo-central td, th {
            border: 1px solid black;
            font-size: 16px;
        }        

        .contenido-cuerpo-inferior table.convenviones tr.resaltadas td.resaltadas {
            border: 1px solid black;
        }

        .table__cabezera {
            font-size: 0.7rem;
        }

        .table__cabezera th {
            border: none;
        }

        p, h1, h2, h3 {
            padding: 0;
            margin: 0;
            font-size: 18px;
        }

    </style>
</head>
<body>
    <div class="contenido-cuerpo-superior">
        <table>
            <tbody>
                <tr>
                    <td>
                        <table class="table__cabezera">
                            <thead>
                            <th style="width: 20%;">  <img width="20px" height="20px" src="../img/gallery_9055136.png" alt=""></th>
                            <th style="width: 60%;">
                                <section class="encabezado-central">
                                    <p style="height: 40px;"></p>
                                    <h1>DEPARTAMENTO DEL CAQUETÁ</h1>
                                    <h2>MUNICIPIO DE PUERTO RICO</h2>
                                    <h3>INSTITUCION EDUCATIVA RURAL LA AGUILILLA</h3>
                                    <p>CON ESPECIALIDAD EN AGROECOLOGIA</p>
                                    <p>DANE 283592003378</p>
                                    <p>Creada según Decreto 002027 del 15 de diciembre de 2011</p>
                                    <p>Resolución de aprobación 00352 del 24 de Abril de 2012</p>
                                    <p style="height: 30px;"></p>
                                </section>
                            </th>
                            <th style="width: 20%;">  <img width="20px" height="20px" src="../img/gallery_9055136.png" alt=""></th>
                            </thead>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p style="text-align: left;">
                            Los suscritos Rectora y Secretario de la Institución Educativa Rural la Aguililla del Municipio de Puerto Rico,  identificado
                            con Codigo DANE 283592003378, Creada segun Decreto No. 002027 de fecha 15 de diciembre de 2011 y Resolucion No 002027 del 24
                            de Abril de 2012 emanados de la Secretaria de Educacion Departamental, en los niveles de Preescolar,
                            Educacion Básica en los ciclos Primaria y Secundaria y Educacion Media Tecnica
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h4 style="margin: 2px 0;">CERTIFICAN</h4>
                        <p style="text-align: left; margin: 5px 0;  padding: 0;">
                            Que el alumno(a) _______________________________ identificado (a) con ________________________ cursó y aprobó
                            en esta Institución sede, ________________________ los estudios correspondientes al grado ______  de Educacion
                            ______________ durante el año escolar ____________ de conformidad con la ley 115 de 1994, el Decreto 1860 de 1994,
                            la resolución 2343 de 1996, la ley 715 de 2001, el Decreto 230 de 2002, el Decreto 1290  del 2009 y el plan de estudios,
                            habiendo obtenido las siguientes valoraciones y desempeños según consta en el libro de registro escolar.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="contenido-cuerpo-central" style="margin: 0px 0; padding: 0;">
        <table style="font-size: .8rem; margin: 0; padding: 0;">
            <thead>
                <tr>
                    <th rowspan="2">AREAS</th>
                    <th rowspan="2">I.H</th>
                    <th rowspan="2" style="width: 7%;">FALLAS</th>
                    <th colspan="4">PERIODOS</th>
                    <th rowspan="2" style="width: 10%;">PROMEDIO FINAL</th>
                    <th rowspan="2" style="width: 10%;">NIVEL DE DESEMPEÑO</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
            </thead>
            <tbody>
                <!-- se implementa el ciclo para obtener datos por cada estudiante -->
                <tr class="fila-1">
                    <td>CIENCIAS NATURALES</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-2">
                    <td>ECOLOGIA</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-3">
                    <td>CIENCIAS SOCIALES</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-4">
                    <td>CATEDRA DE LA PAZ</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-5">
                    <td>ARTISTICA</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-6">
                    <td>ETICA Y VALORES</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-7">
                    <td>EDUCACIÓN FISICA</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-8">
                    <td>EDUCACIÓN RELIGIOSA</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-9">
                    <td>ESPAÑOL</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-10">
                    <td>INGLES</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-11">
                    <td>Matematicas</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-12">
                    <td>TECNOLOGIA E INFORMATICA</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-13">
                    <td>P. PEDAGOGICO AGROECOLOGICO</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-14">
                    <td colspan="3">CONVIVENCIA</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
                <tr class="fila-15">
                    <td colspan="3">PROMEDIOS FINALES</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                    <td>3.0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="contenido-cuerpo-inferior" style="margin: 0; padding: 0;">
        <table style="margin: 0; padding: 0;">
            <thead>
                <tr>
                    <th hidden></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="convenviones" style="margin: 2px 0; padding: 0;">
                            <thead>
                                <tr>
                                    <th hidden colspan="3" rowspan="2"></th>
                                    <th hidden colspan="3"></th>
                                    <th hidden colspan="3"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="resaltadas">
                                    <td class="resaltadas" rowspan="2">CONVENCIONES</td>
                                    <td class="resaltadas">1,0 - 2,9 DESEMPEÑO BAJO</td>
                                    <td class="resaltadas">3,0 - 3,9 DESEMPEÑO BASICO</td>
                                </tr>
                                <tr class="resaltadas">
                                    <td class="resaltadas">4,0 - 4,5 DESEMPEÑO ALTO</td>
                                    <td class="resaltadas">4,6 - 5,0 DESEMPEÑO SUPERIOR</td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <h4 style="text-align: left; margin: 0px 0;">Para constancia se firma en Puerto Rico, Caqueta a los 18 dias del mes de Enero del año 2024,</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="margin: 0px 0; padding: 0px;">
                            <thead>
                                <tr>
                                    <!-- posee 4 culumnas -->
                                    <th hidden></th> <!-- En la primera columna van los datos de la rectora mas la firma -->
                                    <th hidden></th> <!-- En la segunda columna va un espacio entre firmas -->
                                    <th hidden></th> <!-- En la tercera columna va un espacio entre firmas -->
                                    <th hidden></th> <!-- En la cuarta columna van los datos del secretario mas la firma -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="padding: .1px;">
                                    <td>
                                        <table>
                                            <tr>
                                                <p style="height: 100px; width: 120px;"></p>
                                            </tr>
                                            <tr>
                                                <p style="margin: 0;">____________________________</p>
                                                <p style="margin: 0; padding: 0;">Mag. ARALY NUÑEZ SANJUAN</p>
                                                <p style="margin: 0; padding: 0;">RECTORA</p>
                                                <p style="margin: 0; padding: 0;">CC. No.  40.783.163 de Florencia</p>
                                            </tr>
                                        </table>
                                    </td>
                                    <td hidden></td> <!-- necesarios para separar por columna -->
                                    <td hidden></td> <!-- necesarios para separar por columna -->
                                    <td>
                                        <table>
                                            <tr>
                                                <p style="height: 100px; width: 120;"></p>
                                            </tr>
                                            <tr>
                                                <p style="margin: 0;">____________________________</p>
                                                <p style="margin: 0; padding: 0;">LUIS ENRIQUE ALEY BETANCUR</p>
                                                <p style="margin: 0; padding: 0;">Secretario</p>
                                                <p style="margin: 0; padding: 0;">C.C No 1.115.947.940 de Puerto Rico</p>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="4" style="margin-top: 50px;">
                        <p style="height: 40px;"></p>
                        <p style="height: 20px; color: #44780D;">________________________________________________________________________</p>
                        <h4 style="margin: 0 0px; padding: 0px 0px;">“Formamos para la vida, fundamentados en el desarrollo de los valores humanos”</h4>
                        <p style="margin: 0 0px; padding: 0px 0px;">Email: celaaguililla_pue@hotmail.com</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

