@{
    List<string> escolaridad = new List<string>{"Ninguno", "Primaria", "Bachillerato", "Educacion superior"};
    List<string> parentezcos = new List<string>{"Padre", "Madre", "Abuelo", "Abuela", "Tio", "Tia", "Hermano", "Hermana"};
    var registroTipoFamiliar = ViewBag.RegistroTipoFamiliar;
}

<nav class="navbar navbar-light my-0 py-0 d-flex justify-content-start">
    <form action="/Funcionario/CargarCsv" method="post" enctype="multipart/form-data" class="d-flex flex-row">
        
  
    <div class="form-group form-group-sm my-0 py-2 col-auto">


         <input type="file" class="inputsubir" id="archivo"  name="file" accept=".csv" />
        <label class="form-control form-control-sm my-1 py-0 px-3  nombre-archivo" for="archivo" id="labelArchivo">seleccione archivo</label>

    </div>
    <div class="form-group form-group-sm my-auto py-0 col-auto">
        <div class="my-1 mx-2">
            <input type="submit" class="form-control form-control-sm bg-primary text-white" value="cargar">
        </div>
    </div>
    </form>
</nav>
<div class="navbar navbar-light my-0 py-0 d-flex justify-content-between ">
    <div class="form-group form-group-sm filtros">
        <label for="" class="my-0 py-0">Buscar estudiante</label>
        <input type="search" class="form-control form-control-sm" value="" placeholder="Nombre estudiante" id="inputsearch">
    </div>
    <div class="form-group form-group-sm filtros">
        <label for="" class="my-0 py-0">Selecionar sede</label>
        <select class="form-control form-control-sm bg-white m-0 p-0 border myselect" id="selectsede" data-live-search="true" data-style="btn-white">
            <option value="TODOS">TODOS</option>
        </select>
    </div>
    <div class="form-group form-group-sm filtros">
        <label for="" class="my-0 py-0">Selecionar grado</label>
        <select class="form-control form-control-sm bg-white m-0 p-0 border myselect" id="selectgrados" data-live-search="true" data-style="btn-white">
            <option value="TODOS">TODOS</option>
        </select>
    </div>

    <div class="form-group mx-2">
        <label for=""> </label>
        <input type="submit" class="form-control form-control-sm bg-primary text-white" onclick="filtrosEstudiantes()" value="Buscar">
    </div>


</div>
<div class="table__container" id="idestudiantes">
 
</div>
<div class="barrapaginacion__container">
    <div class=" barrapaginacion barrapaginacion__control">
        <button class="button-controls" id="btn_inicio">
            <svg id="blue_copy" height="24" width="24" style="enable-background:new 0 0 100 100;" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_8_copy_4"><path d="M58.644,27.26v8.294c0,0.571-0.305,1.1-0.8,1.385L37.632,48.608c-1.066,0.616-1.066,2.155,0,2.771l20.212,11.669   c0.495,0.286,0.8,0.814,0.8,1.385v8.294c0,1.231-1.333,2.001-2.399,1.385L16.869,51.379c-1.066-0.616-1.066-2.155,0-2.771   l39.375-22.733C57.311,25.259,58.644,26.029,58.644,27.26z" /><path d="M57.844,63.048l-2.376-1.372c-0.013,0.043-0.023,0.09-0.032,0.136l0.409,0.236c0.495,0.286,0.8,0.814,0.8,1.385v8.294   c0,1.008-0.894,1.693-1.803,1.575l1.404,0.81c1.066,0.616,2.399-0.154,2.399-1.385v-8.294   C58.644,63.862,58.339,63.334,57.844,63.048z" /><path d="M37.632,48.608l20.212-11.669c0.495-0.286,0.8-0.814,0.8-1.385V27.26c0-1.115-1.092-1.84-2.091-1.512   c0.054,0.16,0.091,0.328,0.091,0.512v8.294c0,0.571-0.305,1.1-0.8,1.385L35.632,47.608c-0.078,0.052-0.745,0.516-0.8,1.385   c-0.057,0.911,0.609,1.467,0.673,1.518c0.639,0.443,1.277,0.885,1.916,1.328c-0.032-0.112-0.07-0.312,0.019-0.51   c0.011-0.025,0.024-0.049,0.037-0.07C36.582,50.587,36.625,49.19,37.632,48.608z" /><path d="M58.644,27.26v8.294c0,0.571-0.305,1.1-0.8,1.385L37.632,48.608   c-1.066,0.616-1.066,2.155,0,2.771l20.212,11.669c0.495,0.286,0.8,0.814,0.8,1.385v8.294c0,1.231-1.333,2.001-2.399,1.385   L16.869,51.379c-1.066-0.616-1.066-2.155,0-2.771l39.375-22.733C57.311,25.259,58.644,26.029,58.644,27.26z" style="fill:none;stroke:#000000;stroke-miterlimit:10;" /><path d="M86.058,27.26v8.294c0,0.571-0.305,1.1-0.8,1.385L65.047,48.608c-1.066,0.616-1.066,2.155,0,2.771l20.212,11.669   c0.495,0.286,0.8,0.814,0.8,1.385v8.294c0,1.231-1.333,2.001-2.399,1.385L44.283,51.379c-1.066-0.616-1.066-2.155,0-2.771   l39.375-22.733C84.725,25.259,86.058,26.029,86.058,27.26z" /><path d="M85.258,63.048l-2.376-1.372c-0.013,0.043-0.023,0.09-0.032,0.136l0.409,0.236c0.495,0.286,0.8,0.814,0.8,1.385v8.294   c0,1.008-0.894,1.693-1.803,1.575l1.404,0.81c1.066,0.616,2.399-0.154,2.399-1.385v-8.294   C86.058,63.862,85.753,63.334,85.258,63.048z" /><path d="M65.047,48.608l20.212-11.669c0.495-0.286,0.8-0.814,0.8-1.385V27.26c0-1.115-1.092-1.84-2.091-1.512   c0.054,0.16,0.091,0.328,0.091,0.512v8.294c0,0.571-0.305,1.1-0.8,1.385L63.047,47.608c-0.078,0.052-0.745,0.516-0.8,1.385   c-0.057,0.911,0.609,1.467,0.673,1.518c0.639,0.443,1.277,0.885,1.916,1.328c-0.032-0.112-0.07-0.312,0.019-0.51   c0.011-0.025,0.024-0.049,0.037-0.07C63.996,50.587,64.039,49.19,65.047,48.608z" /><path d="M86.058,27.26v8.294c0,0.571-0.305,1.1-0.8,1.385L65.047,48.608   c-1.066,0.616-1.066,2.155,0,2.771l20.212,11.669c0.495,0.286,0.8,0.814,0.8,1.385v8.294c0,1.231-1.333,2.001-2.399,1.385   L44.283,51.379c-1.066-0.616-1.066-2.155,0-2.771l39.375-22.733C84.725,25.259,86.058,26.029,86.058,27.26z" style="fill:none;stroke:#000000;stroke-miterlimit:10;" /></g></svg>
    
        </button>
        <button class="button-controls" id="btn_prev"><svg id="blue_copy" height="24" width="24" transform="rotate(180)" style="enable-background:new 0 0 100 100;" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_4_copy"><path d="M31.356,25.677l38.625,22.3c1.557,0.899,1.557,3.147,0,4.046l-38.625,22.3c-1.557,0.899-3.504-0.225-3.504-2.023V27.7   C27.852,25.902,29.798,24.778,31.356,25.677z" /><path d="M69.981,47.977l-38.625-22.3c-0.233-0.134-0.474-0.21-0.716-0.259l37.341,21.559c1.557,0.899,1.557,3.147,0,4.046   l-38.625,22.3c-0.349,0.201-0.716,0.288-1.078,0.301c0.656,0.938,1.961,1.343,3.078,0.699l38.625-22.3   C71.538,51.124,71.538,48.876,69.981,47.977z" /><path d="M31.356,25.677l38.625,22.3c1.557,0.899,1.557,3.147,0,4.046   l-38.625,22.3c-1.557,0.899-3.504-0.225-3.504-2.023V27.7C27.852,25.902,29.798,24.778,31.356,25.677z" style="fill:none;stroke:#000000;stroke-miterlimit:10;" /></g></svg></button>
        <input type="number" class="input__controls" id="controPaginacionInPut">
        <button class="button-controls " id="btn_next"> <svg id="blue_copy" height="24" width="24" style="enable-background:new 0 0 100 100;" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_4_copy"><path d="M31.356,25.677l38.625,22.3c1.557,0.899,1.557,3.147,0,4.046l-38.625,22.3c-1.557,0.899-3.504-0.225-3.504-2.023V27.7   C27.852,25.902,29.798,24.778,31.356,25.677z" /><path d="M69.981,47.977l-38.625-22.3c-0.233-0.134-0.474-0.21-0.716-0.259l37.341,21.559c1.557,0.899,1.557,3.147,0,4.046   l-38.625,22.3c-0.349,0.201-0.716,0.288-1.078,0.301c0.656,0.938,1.961,1.343,3.078,0.699l38.625-22.3   C71.538,51.124,71.538,48.876,69.981,47.977z" /><path d="M31.356,25.677l38.625,22.3c1.557,0.899,1.557,3.147,0,4.046   l-38.625,22.3c-1.557,0.899-3.504-0.225-3.504-2.023V27.7C27.852,25.902,29.798,24.778,31.356,25.677z" style="fill:none;stroke:#000000;stroke-miterlimit:10;" /></g></svg></button>
        <button class="button-controls " id="btn_final"> <svg id="blue_copy" height="24" width="24" style="enable-background:new 0 0 100 100;" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_8_copy_4_1_"><path d="M41.762,27.26v8.294c0,0.571,0.305,1.1,0.8,1.385l20.212,11.669c1.066,0.616,1.066,2.155,0,2.771L42.562,63.048   c-0.495,0.286-0.8,0.814-0.8,1.385v8.294c0,1.231,1.333,2.001,2.399,1.385l39.375-22.733c1.066-0.616,1.066-2.155,0-2.771   L44.161,25.875C43.095,25.259,41.762,26.029,41.762,27.26z" /><path d="M83.537,48.608L44.161,25.875c-0.193-0.112-0.395-0.164-0.597-0.19l37.972,21.923c1.066,0.616,1.066,2.155,0,2.771   L42.161,73.112c-0.1,0.058-0.205,0.092-0.308,0.126c0.308,0.914,1.401,1.398,2.308,0.874l39.375-22.733   C84.603,50.763,84.603,49.224,83.537,48.608z" /><path d="M41.762,27.26v8.294c0,0.571,0.305,1.1,0.8,1.385l20.212,11.669   c1.066,0.616,1.066,2.155,0,2.771L42.562,63.048c-0.495,0.286-0.8,0.814-0.8,1.385v8.294c0,1.231,1.333,2.001,2.399,1.385   l39.375-22.733c1.066-0.616,1.066-2.155,0-2.771L44.161,25.875C43.095,25.259,41.762,26.029,41.762,27.26z" style="fill:none;stroke:#000000;stroke-miterlimit:10;" /><path d="M14.664,27.273v8.294c0,0.571,0.305,1.1,0.8,1.385l20.212,11.669c1.066,0.616,1.066,2.155,0,2.771L15.464,63.061   c-0.495,0.286-0.8,0.814-0.8,1.385v8.294c0,1.231,1.333,2.001,2.399,1.385l39.375-22.733c1.066-0.616,1.066-2.155,0-2.771   L17.063,25.888C15.997,25.272,14.664,26.042,14.664,27.273z" /><path d="M56.438,48.621L17.063,25.888c-0.193-0.112-0.395-0.164-0.597-0.19l37.972,21.923c1.066,0.616,1.066,2.155,0,2.771   L15.063,73.125c-0.1,0.058-0.205,0.092-0.308,0.126c0.308,0.914,1.401,1.398,2.308,0.874l39.375-22.733   C57.505,50.776,57.505,49.237,56.438,48.621z" /><path d="M14.664,27.273v8.294c0,0.571,0.305,1.1,0.8,1.385l20.212,11.669   c1.066,0.616,1.066,2.155,0,2.771L15.464,63.061c-0.495,0.286-0.8,0.814-0.8,1.385v8.294c0,1.231,1.333,2.001,2.399,1.385   l39.375-22.733c1.066-0.616,1.066-2.155,0-2.771L17.063,25.888C15.997,25.272,14.664,26.042,14.664,27.273z" style="fill:none;stroke:#000000;stroke-miterlimit:10;" /></g></svg></button>
    </div>
    <div class=" barrapaginacion barrapaginacion__text">
        <label id="page" class="textoMenu">
            Mostrando Registros 0 - 0 de 0
        </label>
    </div>
</div>


<div class="modal fade" id="gestionFamiliar" tabindex="-1" aria-labelledby="GestionFamiliarlabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header py-1 border-0">
                <h5 class="modal-title" id="GestionFamiliarlabel">Gestion Familiar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0 my-0">
                <input type="hidden" id="documentoEstudiante" value=""/>
                <div class="detalles__estu py-2">
                    <div class="detalles__text table_colums">
                        <div class="colums__text" id="datosEstudiante">

                            <span class="text__bold">Codigo estudiante: </span><span class="text__normal"></span><br>
                            <span class="text__bold">Nombre completo: </span><span class="text__normal"></span><br>




                        </div>
                    </div>

                    <div class="detalles__boton">
                        <a class="form-control form-control-sm bg-primary text-white text__decaoration" data-toggle="modal" data-target="#AgregarFamiliar">
                            Agregar Familiar
                        </a>
                    </div>

                </div>

                <div class="table__container py-1 my-0" id="tablaFamiliar">
                   
                </div>
            </div>
            <div class="modal-footer border-0 form-group py-1 my-1">
                <div class="form-group d-flex">
                    <input type="submit" class="form-control form-control-sm bg-secondary text-white" value="Cerrar" data-dismiss="modal" readonly>
                    <input type="submit" class="form-control  form-control-sm bg-primary text-white" value="Aceptar" readonly>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AgregarFamiliar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header py-1 border-0">
                <h5 class="modal-title" id="exampleModalLabel">Agregar familiar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-row">
                        <input type="hidden" id="estudiante" value="" />
                        <div class="col">
                           
                            <div class="form-group form-group-sm py-0 my-0">
                                <label for="" class="laber-form">Nombre completo</label>
                                <input type="text" class="form-control form-control-sm" value="" placeholder="Nombre completo" id="nombreCompleto">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group form-group-sm py-0 my-0">
                                <label for="" class="laber-form">Documento</label>
                                <input type="text" class="form-control form-control-sm" value="" placeholder="Documento" id="documento">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group form-group-sm py-0 my-0">
                                <label for="" class="laber-form">Fecha nacimiento</label>
                                <input type="date" class="form-control form-control-sm" value="" placeholder="" id="fechanacimineto">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group form-group-sm py-0 my-0">
                                <label for="" class="laber-form">Ocupación</label>
                                <input type="text" class="form-control form-control-sm" value="" placeholder="Ocupación" id="ocupacion">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group form-group-sm py-0 my-0">
                                <label for="" class="laber-form">Parentesco</label>
                                <select class="form-control form-control-sm bg-white m-0 p-0 border myselect" id="parentezcosEstudiante" data-live-search="true" data-style="btn-white">
                                    
                                    <option value="" disabled selected>Selecciona una opción</option>
                                           
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group form-group-sm py-0 my-0">
                                <label for="" class="laber-form">Numero celular</label>
                                <input type="text" class="form-control form-control-sm" value="" placeholder="Numero celular" id="numeroceular">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group form-group-sm py-0 my-0">
                                <label for="" class="laber-form">Nivel de escolaridad</label>
                                <select class="form-control form-control-sm bg-white m-0 p-0 border myselect" id="escolaridad" data-live-search="true" data-style="btn-white">
                                    <option value="" disabled selected>Selecciona una opción</option>
                                    @foreach (var item in escolaridad)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group form-group-sm py-0 my-0">
                                <label for="" class="laber-form">Direccion de Familiar</label>
                                <input type="text" class="form-control form-control-sm" value="" placeholder="Direccion de familiar" id="direccionfamiliar">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group py-0 my-1">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="desplazado">
                                    <label class="form-check-label" for="gridCheck">
                                        Desplazado
                                    </label>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-6">
                            <div class="form-group py-0 my-1">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="acudiente">
                                    <label class="form-check-label" for="gridCheck">
                                        Acudiente
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group py-0 my-1">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="responsabilidadecomica">
                                    <label class="form-check-label" for="gridCheck">
                                        Responsabilidad economica
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0 py-1">
                <div class="form-group d-flex">
                    <input type="submit" class="form-control form-control-sm bg-secondary text-white" value="Cancelar" data-dismiss="modal" readonly>
                    <input type="submit" class="form-control  form-control-sm bg-primary text-white" value="Guardar" readonly onclick="guardarFamiliarEstudiante()">
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="Registrobservacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header py-1 border-0">
                <h5 class="modal-title" id="exampleModalLabel">Registro de observaciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="detalles__estu py-2">
                    <div class="detalles__text table_colums">
                        <div class="colums__text">
                            <span class="text__bold">Codigo estudiante: </span><span class="text__normal">2165465</span><br>
                            <span class="text__bold">Nombre completo: </span><span class="text__normal">juanito perez nose</span><br>





                        </div>
                    </div>

                    <div class="detalles__boton">
                        <a class="form-control form-control-sm bg-primary text-white text__decaoration" data-toggle="modal" data-target="#RegistraObservacion">
                            Registrar
                        </a>
                    </div>

                </div>

                <div class="table__container py-1 my-0">
                    <table class="table table__information table__modals py-0 my-0">
                        <thead>
                            <tr>
                                <th>NR</th>
                                <th>Observacion</th>
                                <th>Opciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <!-- Puedes agregar filas con datos aquí -->
                            <tr>
                                <td>1</td>
                                <td>Observación 1</td>
                                <td>Opciones 1</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Observación 2</td>
                                <td>Opciones 2</td>

                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Observación 1</td>
                                <td>Opciones 1</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Observación 2</td>
                                <td>Opciones 2</td>

                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Observación 1</td>
                                <td>Opciones 1</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Observación 2</td>
                                <td>Opciones 2</td>

                            </tr>

                            <!-- Agrega más filas según sea necesario -->
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer py-1 border-0">

                <div class="form-group d-flex">
                    <input type="submit" class="form-control form-control-sm bg-secondary text-white" value="Cerrar" data-dismiss="modal" readonly>
                    <input type="submit" class="form-control  form-control-sm bg-primary text-white" value="Aceptar" readonly>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RegistraObservacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header py-1 border-0">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Observación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body my-0">
                <div class="container">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group form-group-sm py-0 my-0">


                                <textarea name="" id="" rows="10" class="form-control form-control-sm" value="" placeholder="Observacion"></textarea>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0 py-1">
                <div class="form-group d-flex">
                    <input type="submit" class="form-control form-control-sm bg-secondary text-white" value="Cancelar" data-dismiss="modal" readonly>
                    <input type="submit" class="form-control  form-control-sm bg-primary text-white" value="Guardar" readonly>
                </div>
            </div>
        </div>
    </div>
</div>


<script  src="/js/GestionCV.js"></script>
<script>
    document.getElementById('archivo').addEventListener('change', function () {
        var val = this.value;

        var siblings = this.parentNode.children;
        for (var i = 0; i < siblings.length; i++) {
            if (siblings[i].classList.contains('archivo')) {
                siblings[i].textContent = val;
            }
        }

        var fileName = val.split('\\').pop();
        var truncatedFileName = fileName.length <= 20 ? fileName : fileName.substring(0, 18) + "...." + fileName.substring(fileName.length - 5);
        for (var j = 0; j < siblings.length; j++) {
            if (siblings[j].classList.contains('nombre-archivo')) {
                siblings[j].textContent = truncatedFileName;
            }
        }

    });
</script>