
<nav class="navbar navbar-light my-0 py-0 d-flex justify-content-end my-1">

    <button class="btn btn-primary" onclick="decargarDocumento()">Descargar Notas</button>
    </nav>

<div class="table__container--notas table__container mx-2" id="tablaBoletinEstudiante">

</div>
<script src="/js/BoletinEstudiante.js"></script>