@model ProyectoColegio.Models.Sisben

@{
    ViewData["Title"] = "RegistrarSisben";
}

<h1>RegistrarSisben</h1>

<h4>Sisben</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistrarSisben">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    // Recuperar el mensaje de TempData y mostrarlo en la consola
    var mensajeConsola = '@TempData["MensajeConsola"]';
    console.log(mensajeConsola);
</script>
