@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-body {
    width: 400px;
    min-width: 300px;
    height: 470px;
    background: #ffffff;
    box-shadow: 1px 4px 12px 0px rgba(140,133,140,1);
}

    .form-body::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: #3070ac;
        z-index: -1;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 50% 100%);
    }


    .form-body img {
        width: 150px;
        height: 130px;
        display: block;
        margin: 10px auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

.text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
    color: rgb(68, 67, 67);
}

.form-body input {
    display: block;
    margin: 5px auto; 
    margin-bottom: 1px;
    height: 35px;
    width: 80%;
    padding-left: 10px;
    color: #000000;
    border: 1px solid #afacac;
}

    .form-body input[type="password"] {
        margin-top: 5px;
    }

::placeholder {
    font-size: 1rem;
}

.form-body input:hover {
    transition: .5s;
    color: #2498db;
    outline: none;
    border-bottom: 1px solid #2980b9;
}


.form-body input:focus {
    outline: none;
    border-bottom: 1px solid #2980b9;
}



.form-body button {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    font-size: 1rem;
    border-radius: 2px;
    background-color: #3070ac;
    color: #ffffff;
    border: none;
    transition: all .5s ease;
}

    .form-body button:hover {
        color: #d5dbdd;
        transform: scale(1.07);
    }

    .form-body button:active {
        color: #d5dbdd;
        transform: scale(1);
    }


.form-body .login-form {
    margin: 0 auto;
}

.error__dander {
    margin: 0px 40px;
    padding: 0px 0px;
    padding-top: 0.1px;
    color: rgb(247, 22, 67);
}
