
<nav class="navbar navbar-light my-0 py-0 d-flex justify-content-end my-1">

    <button class="btn btn-primary" onclick="decargarDocumentoPreescolar2()">Descargar Notas</button>
</nav>

<div class="table__container--notas table__container mx-2" id="tablaBoletinEstudiantePreescolar2">
</div>
<script src="/js/BoletinDimenciones.js"></script>
