
@{

}

<div class="detalles__estu py-2">
    <div class="detalles__text table_colums">
        <div class="">
            <span class="text__bold">Codigo estudiante: </span><span class="text__normal">2165465</span><br>
            <span class="text__bold">Nombre completo: </span><span class="text__normal">juanito perez nose</span><br>





        </div>
    </div>
    <div class="mx-5">
        <span class="text__bold">perido: </span><span class="text__normal">2</span><br>
    </div>

    <div class="mx-5">
        <span class="text__bold">puesto: </span><span class="text__normal">2</span><br>
    </div>

</div>

<div class="table__container--notas table__container ">
    <table class="table table-bordered table__information table__modals tables--modals--sms table_text-alig">
        <tbody>
            <tr>
                <th colspan="2">AREAS Y/O ASIGNATURAS</th>
                <th>Intencidad horaria (I.H)</th>
                <th>INASIST</th>
                <th>DESCRIPCION</th>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>P4</th>
                <th>NOTAFINAL</th>
            </tr>
            <tr>
                <!--COMIENZA LA FILA 1-->
                <th colspan="2" rowspan="2">CIENCIAS NATURALES</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>  <!--TERMINA LA FILA 1-->
            <tr>
                <!--COMIENZA LA FILA 2-->
                <th colspan="2" rowspan="2">ECOLOGIA</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>  <!--TERMINA LA FILA 2-->
            <tr>
                <!--COMIENZA LA FILA 3-->
                <th rowspan="4">CIENCIAS SOCIALES</th>
                <th rowspan="2">SOCIALES</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>
            <tr>
                <th rowspan="2">CATEDRA DE LA PAZ</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr> <!--TERMINA LA FILA 3-->
            <tr>
                <!--COMIENZA LA FILA 4-->
                <th colspan="2" rowspan="2">EDUCACIÓN ARTÍSTICA</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>  <!--TERMINA LA FILA 4-->
            <tr>
                <!--COMIENZA LA FILA 5-->
                <th colspan="2" rowspan="2">ETICA Y VALORES</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>  <!--TERMINA LA FILA 5-->
            <tr>
                <!--COMIENZA LA FILA 6-->
                <th colspan="2" rowspan="2">EDUCACION FÍSICA RECREACION Y DEPORTE</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>  <!--TERMINA LA FILA 6-->
            <tr>
                <!--COMIENZA LA FILA 7-->
                <th colspan="2" rowspan="2">EDUCACION RELIGIOSA</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>  <!--TERMINA LA FILA 7-->
            <tr>
                <!--COMIENZA LA FILA 8-->
                <th rowspan="4">HUMANIDADES E IDIOMA EXTRANJERO</th>
                <th rowspan="2">ESPAÑOL</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>
            <tr>
                <th rowspan="2">INGLES</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr> <!--TERMINA LA FILA 8-->
            <tr>
                <!--COMIENZA LA FILA 9-->
                <th colspan="2" rowspan="2">MATEMATICAS</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>  <!--TERMINA LA FILA 9-->
            <tr>
                <!--COMIENZA LA FILA 10-->
                <th colspan="2" rowspan="2">TECNOLOGIA E INFORMATICA</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>  <!--TERMINA LA FILA 10-->
            <tr>
                <!--COMIENZA LA FILA 11-->
                <th colspan="2" rowspan="2">P. PEDAGOGICO AGROECOLOGICO</th>
                <td rowspan="2">valor intenicidad horaria</td>
                <td rowspan="2">valor Inasistencias</td>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>  <!--TERMINA LA FILA 11-->
            <tr>
                <!--COMIENZA LA FILA 12-->
                <th colspan="4" rowspan="2">CONVIVENCIA</th>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>  <!--TERMINA LA FILA 12-->
            <tr>
                <!--COMIENZA LA FILA 13-->
                <th colspan="4" rowspan="2">PROMEDIO Y VALORACION FINAL DE TODAS LAS AREAS</th>
                <td>Valoracion</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Desempeño</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
                <td>bajo</td>
            </tr>  <!--TERMINA LA FILA 10-->
        </tbody>
    </table>
</div>